<!DOCTYPE html>
<html>

<body>
  <h3 class="headings pl-3 ml-3 mb-3">Dashboard</h3>

  <div class="container-fluid mt-3">
    <div class="row mb-4">
      <div class="col-sm-12 col-md-3 col-lg-3 mb-3">
        <div class="card dashboardCard">
          <div class="card-body dashboardCard" style="background: #00FF7F">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-2">
                <img src="../../assets/images/images emp 2.jpeg" class="ml-4" style="width: 65px; height: 65px;">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p class="dashboardCardhead">Number Of Employees</p>

                <div class="row">
                  <h6 class="col-3 dashboardCardnumber">12</h6>
                  <p class="col-9 mt-3 pl-0 dashboardCardtitle">Employees</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 mb-3">
        <div class="card dashboardCard" style="background: #00BFFF">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-2">
                <img src="../../assets/images/Untitled-35-512jb1.png" class="ml-4" style="width: 65px; height: 65px;">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p class="dashboardCardhead">Number Of Job Title</p>

                <div class="row">
                  <h6 class="col-3 dashboardCardnumber">12</h6>
                  <p class="col-9 mt-3 pl-0 dashboardCardtitle">Job Title</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 mb-3">
        <div class="card dashboardCard" style="background: #FA8072">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-2">
                <img src="../../assets/images/downloadbd.png" class="ml-4" style="width: 65px; height: 65px;">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p class="dashboardCardhead">Number Of Birthday(s)</p>

                <div class="row">
                  <h6 class="col-3 dashboardCardnumber">12</h6>
                  <p class="col-9 mt-3 pl-0 dashboardCardtitle">Birthday(s)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 mb-3">
        <div class="card dashboardCard" style="background: #FF7F50">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb-2">
                <img src="../../assets/images/imagesrev2.jpeg" class="ml-4" style="width: 65px; height: 65px;">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <p class="dashboardCardhead">Number Of Reviews</p>

                <div class="row">
                  <h6 class="col-3 dashboardCardnumber">12</h6>
                  <p class="col-9 mt-3 pl-0 dashboardCardtitle">reviews</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-body">
        <div class="row mt-5">
          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <div class="card">
              <div class="card-header headingColor">
                <h4 style="font-weight: 600">Birthday(s) for this month</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered" id="birthdateTable" style="width:100%">
                  <thead>
                    <tr style="background: #DCDCDC">
                      <th>Name</th>
                      <th>Birthday Date</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Herold Ramaoka</td>
                      <td>05-03-2019</td>
                    </tr>

                    <tr>
                      <td>Thato Masemola</td>
                      <td>05-03-2019</td>
                    </tr>

                    <tr>
                      <td>Herold Ramaoka</td>
                      <td>05-03-2019</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <div class="card">
              <div class="card-header headingColor">
                <h4 style="font-weight: 600">Review(s) for the current user</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered" id="reviewsTable" style="width:100%">
                  <thead>
                    <tr style="background: #DCDCDC">
                      <th>Name</th>
                      <th>Review Date</th>
                      <th>Review Type</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Siphiwe Tosa</td>
                      <td>02-02-2019</td>
                      <td>Salary Increase</td>
                    </tr>

                    <tr>
                      <td>Siphiwe Tosa</td>
                      <td>02-02-2019</td>
                      <td>Salary Increase</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <div class="card">
              <div class="card-header headingColor">
                <h4 style="font-weight: 600">Current user position data</h4>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered">
                  <tr>
                    <th>First Name</th>
                    <td>{{users.user.first_name}}</td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>{{users.user.last_name}}</td>
                  </tr>
                  <tr>
                    <th>Phone Number</th>
                    <td>{{users.phone_number}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>