.loginButton {
    height: 40px !important;
    font-size: larger !important;
    border-radius: 0%;
    background-color: #007bff;
    border-color: #007bff;
}

.loginInputField {
    height: 35px !important;
    border-radius: 0%;
}

.loginImage {
    border-radius: 50%; 
    margin-left: auto; 
    margin-right: auto;
}

.loginText {
    font-family: Cooper Black; 
    color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
}

.loginMessage {
    font-size: 20px !important;
    font-family: cooper black;
     color: deepskyblue;
}